<table class="table table-hover table-inverse">
  <!--検索対象User-->
  <% if @range == "User" %>
  <h2>Users search for "<%= @word %>"</h2>
  <%= render 'users/index', users: @users %>
  <% else %>
  <!--検索対象Userではないとき（Book）-->
  <h2>Books search for "<%= @word %>"</h2>
  <%= render 'books/index', books: @books %>
  <% end %>
</table>